.container {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 15px;
    margin: auto;
}

.radioDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.radioDiv label {
  padding: 0 10px;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.flexRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

.bold {
    font-weight: bold;
  }

button {
    border: solid blue 1px;
    background-color: lightblue;
}

#fInput {
    width: 100px;
}

#labelInput {
  width: 76.42px;
}